.nav-link {
  background: none !important;
  border: none !important;
  color: #fff;
  font-size: 1rem;
  font-weight: 400 !important;
  height: auto !important;
  line-height: 64px;
  outline: none !important;
  padding: 0 15px;
  position: static;
  text-shadow: none !important;
  width: auto !important;
  &:hover {
    background-color: rgba(0, 0, 0, .1) !important;
  }
  span {
    border: none !important;
    padding: 0 !important;
  }
}

.card {
  border: none;
  border-radius: 2px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
  padding: 24px;
  h2 {
    background: none;
    color: inherit;
    font-size: 24px;
    margin-bottom: 8px;
    padding: 0;
    text-shadow: none;
  }
  .collapsible {
    border: none;
    padding: 0;
    a {
      text-decoration: none !important;
      span {
        color: inherit !important;
        font-size: 1rem;
      }
    }
  }
}

.vertical-nav-link {
  color: rgba(0, 0, 0, 0.87) !important;
  font-size: 13px;
  padding: 10px 30px;
  span {
    color: rgba(0, 0, 0, 0.87) !important;
  }
  &:hover {
    background-color: rgba(0, 0, 0, 0.05);
    text-decoration: none !important;
    span {
      color: rgba(0, 0, 0, 0.87) !important;
    }
  }
}

.box-shadow {
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}
